@use "/src/styles/variables.scss" as vars;

.how-it-works {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;

  &__card {
    width: 288px;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 35px;
    border: 1px solid vars.$border-color;
    border-radius: 8px;

    &--0,
    &--2 {
      background-color: vars.$secondary-bg-color;
    }
    &--1 {
      background-color: vars.$yellow-bg-color;
      display: none;
    }
    &--2 {
      display: none;
    }
  }
  &__icon {
    width: 51px;
    height: 51px;
    flex-shrink: 0;
  }

  &__title {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 4%;
    text-align: center;
    color: vars.$accent-color;
  }

  &__description {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    text-align: center;
    color: vars.$main-text-color;
  }

  .arrow__left-icon,
  .arrow__right-icon {
    width: 7px;
    height: 14px;
  }

  .arrow {
    padding: 12px;
  }
}

@media (min-width: 1200px) {
  .arrow {
    display: none;
  }

  .how-it-works {
    gap: 41px;

    &__card {
      width: 346px;
      height: 321px;

      &--2 {
        display: flex;
      }
      &--1 {
        display: flex;
      }
    }
  }
}
