@use "/src/styles/variables.scss" as vars;

.founder {
  background-color: vars.$secondary-bg-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 39px;
  }

  &__title {
    padding-bottom: 40px;
    color: vars.$accent-color-light;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 4%;
    text-align: center;
  }

  &__gallery {
    position: relative;
    margin: 0 auto;
    padding: 40px;
    width: fit-content;
  }
  &__main-image {
    display: block;
    width: 238px;
    height: 310px;
    object-fit: cover;
    z-index: 1;
  }

  &__overlay-img {
    position: absolute;
    width: 101px;
    height: 107px;
    object-fit: cover;
    &--top-left {
      top: 0;
      left: 0;
    }

    &--bottom-right {
      border: 4px solid vars.$secondary-bg-color;
      bottom: 0;
      right: 0;
    }
  }

  &__story {
    padding: 0 46px 54px;
    color: vars.$secondary-text-color-light;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
  }
  &__paragraph {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button--desktop {
    display: none;
  }
}

@media (min-width: 1464px) {
  .founder {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "gallery title"
        "gallery story"
        "gallery button";
      align-items: start;
      padding: 113px 0 56px;
    }

    &__title {
      padding: 0;
      text-align: start;
      font-size: 32px;
      grid-area: title;
    }

    &__gallery {
      grid-area: gallery;
    }

    &__main-image {
      width: 381px;
      height: 570px;
    }

    &__overlay-img {
      width: 165px;
      height: 175px;
    }

    &__story {
      grid-area: story;
      max-width: 620px;
      padding: 0;
      text-align: left;
    }

    &__button--desktop {
      grid-area: button;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: start;
      gap: 10px;
      margin: 0;
      width: 356px;
      height: 56px;
      border-radius: 5px;
      background-color: vars.$accent-color;
      color: #ffffff;
      font-size: 18px;
      letter-spacing: 3%;
      text-align: center;
    }
  }
}
