.hero {
  &__container {}
  &__branding {}
  &__images {}
  &__image {}
  &__bullet-list {}
  &__bullet-item {}
  &__cta {}
}

.hero__bullet-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f5efe8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  flex-shrink: 0;

  &--comfort {
    background-image: url('../../assets/icons/icon-comfort.svg');
  }

  &--recycle {
    background-image: url('../../assets/icons/icon-recycle.svg');
  }

  &--fabric {
    background-image: url('../../assets/icons/icon-fabric.svg');
  }
}