@use "../../styles/variables.scss" as vars;
.reviews-section {
  padding-bottom: 68px;
  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  &__title {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 4%;
    text-align: center;
    color: vars.$accent-color;
  }

  &__description {
    min-width: 385px;
    max-width: 613px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    text-align: center;
    color: vars.$main-text-color;
    margin-bottom: 59px;
  }

  &__ugs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow: hidden;
    gap: 5px;
    width: 100%;

    li {
      width: 100%;
      aspect-ratio: 1 / 1;

      &:nth-child(n + 9) {
        display: none;
      }
    }
  }
  &__ugs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.seen-dots--review {
  margin-bottom: 29px;
}

@media (min-width: 1200px) {
  .reviews-section {
    padding-bottom: 109px;
    &__question {
      gap: 33px;
    }
    &__title {
      font-size: 32px;
    }
    &__ugs {
      li {
        &:nth-child(n + 9) {
          display: block;
        }
      }
    }
  }
}
