$main-color: #F9F0E5;
$accent-color: #15005B;
$main-text-color: #676869;
$secondary-text-color: #828282;
$box-shadow: 0px 3px 10px 1px #00000014;
$bg-color: #FFFFFF;
$star-color: #FFB801;
$separator-color: #C4C4C480;

