$main-color: #F9F0E5;
$accent-color: #15005B;
$accent-color-light: #2A2996;
$main-text-color: #676869;
$secondary-text-color: #828282;
$secondary-text-color-light: #6C6C6C;
$box-shadow: 0px 3px 10px 1px #00000014;
$bg-color: #FFFFFF;
$secondary-bg-color: #F0EEEF;
$yellow-bg-color: #F9F0E6;
$border-color: #EDEDED;
$star-color: #FFB801;
$separator-color: #C4C4C480;


