@use "/src/styles/variables.scss" as vars;

.benefits {
  position: relative;
  overflow: hidden;
  padding: 92px 0 43px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      #f9f0e5 0%,
      rgba(249, 240, 229, 0.18) 43.05%,
      rgba(249, 240, 229, 0) 100%
    );
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &__companies-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-bottom: 42px;
  }

  &__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3%;
    text-align: center;
    color: vars.$secondary-text-color;
  }

  &__logos {
    max-width: 394px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
    text-align: center;
    max-width: 330px;
    margin: 0 auto;
  }

  &__title {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 4%;
    color: vars.$accent-color;
    margin-bottom: 25px;
  }

  &__gallery-wrapper {
    display: flex;
    justify-content: center;
  }

  &__list-wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 245px;

    &:last-child .benefits__item-separator {
      display: none;
    }
  }

  &__icon {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  &__item-title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
    color: vars.$accent-color;
    margin-bottom: 20px;
  }

  &__item-text {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3%;
    color: vars.$main-text-color;
    width: 244px;
    height: 125px;
  }

  &__item-separator {
    width: 100%;
    height: 1px;
    background-color: vars.$separator-color;
    opacity: 0.2;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 369px;
    height: 56px;
    margin: 0 auto 11px;
    border-radius: 5px;
    background-color: vars.$accent-color;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 3%;
    text-align: center;
    
    &:hover {
      background-color: vars.$accent-color-light;
    }
  }
}

.seen-dots {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.seen-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: vars.$separator-color;
}

.seen-dot--active {
  background-color: #000000;
}

@media (min-width: 1200px) {
  .seen-dots {
    display: none;
  }

  .benefits {
    padding-top: 77px;

    &__companies-logos {
      margin-bottom: 110px;
    }

    &__logos {
      max-width: none;
      margin: 0 auto;
    }

    &__text {
      font-size: 20px;
      line-height: 23px;
    }

    &__content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "title gallery"
        "list  gallery";
      align-items: start;
    }

    &__title-wrapper {
      text-align: center;
      grid-area: title;
      max-width: 530px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      white-space: nowrap;
      margin-bottom: 0;
    }

    &__list-wrapper {
      grid-area: list;
    }

    &__list {
      align-items: flex-start;
      margin-top: 32px;
      max-width: 571px;
      gap: 0;
    }

    &__item {
      flex-direction: row;
      align-items: flex-start;
      max-width: none;
    }

    &__icon {
      margin-right: 32px;
      margin-bottom: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &__item-title {
      text-align: left;
      margin-bottom: 0;
      padding-top: 12px;
    }

    &__item-text {
      text-align: left;
      width: auto;
      height: auto;
      max-width: 497px;
      font-size: 15px;
      line-height: 23px;
    }

    &__item-separator {
      display: none;
    }

    &__gallery-wrapper {
      grid-area: gallery;
    }

    &__button-wrapper {
      display: none;
    }
  }
}
