@use "/src/styles/variables.scss" as vars;

.benefits {
  &__title {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 4%;
    text-align: center;
    color: vars.$accent-color;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 245px;
  }

  &__icon {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: center;
    color: vars.$accent-color;
  }

  &__item-text {
    margin-bottom: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3%;
    color: vars.$main-text-color;
    height: 125px;
    width: 244px;
  }

  &__item-separator {
    width: 100%;
    height: 1px;
    color: vars.$separator-color;
    opacity: 0.2;
  }
}

@media (min-width: 1464px) {
  .benefits {
    &__title {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 4%;
    }

    &__list {
      align-items: flex-start;
      max-width: 571px;
      margin: 0 auto;
    }

    &__item {
      flex-direction: row;
      align-items: flex-start;
      max-width: none;
    }
    &__icon {
      margin-bottom: 0;
      margin-right: 32px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &__item-title {
      text-align: left;
    }

    &__item-text {
      text-align: left;
      width: auto;
      height: auto;
      max-width: 497px;
    }

    &__item-separator {
      display: none;
    }
  }
}
