@use "/src/styles/variables.scss" as vars;

.review {
  padding: 16px 11px 0;
  width: 369px;
  height: 132px;
  box-shadow: vars.$box-shadow;
  border-radius: 8px;
  background-color: vars.$bg-color;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    background: vars.$bg-color;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    gap: 14px;
  }
  &__avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin: 0;
  }

  &__author {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    color: vars.$main-text-color;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: flex;
    }
  }

  &__stars {
    margin-right: 8px;
    color: vars.$star-color;
  }

  &__rating-text {
    white-space: nowrap;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: vars.$secondary-text-color;
  }

  &__text {
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 4%;
    color: vars.$main-text-color;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: flex;
    }
  }
}

@media (min-width: 1200px) {
  .review {
    width: 416px;
    height: 172px;

    &__author {
      &--desktop {
        display: flex;
      }
  
      &--mobile {
        display: none;
      }
    }

    &__text {
      &--desktop {
        display: flex;
      }

      &--mobile {
        display: none;
      }
    }
  }
}
