@use ".../../../../../styles/variables.scss" as vars;

.benefits-gallery {
  display: flex;
  justify-content: center;

  &__media {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 303px;
    height: 453px;
    object-fit: cover;
    display: block;
  }

  &__caption {
    margin-top: 10px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 3%;
    color: vars.$main-text-color;
  }

  &__arrow {
    padding: 12px;
  }
  &__arrow-image {
    height: 14px;
    width: 7px;
  }

  &__thumbnails {
    position: absolute;
    bottom: 39px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    z-index: 2;
  }

  &__thumbnail {
    width: 22px;
    height: 23px;
    opacity: 0.6;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &.is-active {
      opacity: 1;
      outline: 2px solid #ffffff;
    }
  }
}

@media (min-width: 1200px) {
  .benefits-gallery {
    &__media {
      gap: 19px;
    }

    &__image {
      width: 433px;
      height: 648px;
    }

    &__thumbnail {
      width: 31px;
      height: 32px;
    }

    &__arrow-image {
      height: 20px;
      width: 10px;
    }
  }
}
